* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5f5f5;
}

.card {
    width: 360px;
    background: rgb(247, 229, 229);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);/* NOTE TO SELF: 0 means horizontal offset 8px means vertical offset (shadow appears below) 20px means blur radius rgba(0, 0, 0, 0.12) means black shadow at 12% opacity*/
    text-align: center;
}
.info {
    text-align: left;
    margin: var(--space-lg) 0;
    line-height: 1.6;
}

.btn {
    display: block;
    text-decoration: none;
    color: rgb(227, 47, 179);
    background: var(--primary);
    padding: 12px;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: 600;
    transition: background 0.3s ease;
}

.btn:hover {
    background: var(--primary-hover);
}

